
<%= render 'layouts/header'%>



<%= render 'layouts/left_bar'%>




<div id="main" role="main">

<%= render 'layouts/messages' %>

<div id="content" class="animated fadeInDown" overflow="scroll">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, style: "margin-left:20px;",  class: "smart-form client-form"}) do |f| %>
        <%= devise_error_messages! %>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="well no-padding">
            <header>Change Password</header>
            <fieldset>
                <section>
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, class: "form-control", placeholder: "Name", :autofocus => true %>
                  </div>
                </section>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                <section>
                  <div class="form-group">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, class: "form-control", placeholder: "Name" %>
                  </div>
                </section>

                <section>
                  <div class="form-group">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                    <%= f.password_field :password, :autocomplete => "off", class: "form-control", placeholder: "Name" %>
                  </div>
                </section>

                <section>
                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Name" %>
                  </div>
                </section>  

                  
            </fieldset>
            <footer>
                <div><%= f.submit "Update", class: "btn btn-primary" %></div>
            <% end %>
            </footer>
          </div>
        </div>

</div>

<% if false %> 

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

  <%= link_to "Back", :back %>

<%end%>

</div>


