<%= form_for(@follow_up) do |f| %>
  <% if @follow_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow_up.errors.count, "error") %> prohibited this follow_up from being saved:</h2>

      <ul>
      <% @follow_up.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- id="follow_up_follow_up_date_1i" name="follow_up[follow_up_date(1i)]"　-->
<!-- <p>Date: <input type="text" id="datepicker" name="follow_up_date"></p> -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" style="padding-top:10px">
      <div class="well no-padding">
        <header>
          New Follow Up
        </header>
          <fieldset>
            <section>
              <div class="field">
                <%= f.label :follow_up_date %><br />
                <!--  <%= f.datetime_select :follow_up_date %> -->
                <%= f.text_field :follow_up_date, :id => 'datepicker', class: "form-control" %>
              </div>
            </section>
            <section>
              <div class="field">
                <%= f.label :final_diagnosis %><br />
                <%= f.text_area :final_diagnosis, class: "form-control" %>
              </div>
            </section>
            <section>
              <div class="field">
                <%= f.label :comments %><br />
                <%= f.text_area :comments, class: "form-control" %>
              </div>
            </section>
          </fieldset>
          <footer>
              <div class="actions">
                <%= f.submit "Submit", class: "btn btn-primary" %>
              </div>
        <% end %>
      </footer>
      </div>
    </div>
</div>

  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>