<%= form_for(@follow_up) do |f| %>
  <% if @follow_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow_up.errors.count, "error") %> prohibited this follow_up from being saved:</h2>

      <ul>
      <% @follow_up.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- id="follow_up_follow_up_date_1i" name="follow_up[follow_up_date(1i)]"　-->
<!-- <p>Date: <input type="text" id="datepicker" name="follow_up_date"></p> -->

            <section>
              <div class="field">
                <%= f.label :follow_up_date %><br />
                <!--  <%= f.datetime_select :follow_up_date %> -->
                <%#TODO time slider error fix%> 
                <%= f.text_field :follow_up_date, :id => "datetimepicker6", class: "form-control", value: @follow_up.follow_up_date %>
              </div>
            </section>
            <section>
              <div class="field">
                <%= f.label :final_diagnosis %><br />
                <%= f.text_area :final_diagnosis, class: "form-control", style: "height:200px;max-height:200px;" %>
              </div>
            </section>
            <section>
              <div class="field">
                <%= f.label :comments %><br />
                <%= f.text_area :comments, class: "form-control", style: "height:200px;max-height:200px;" %>
              </div>
            </section>
          <footer>
              <div class="actions">
                <%= f.submit "Submit", class: "btn btn-primary" %>
              </div>
          <% end %>
          </footer>


 <script type="text/javascript">
  $(document).ready(function(){ 
    $('#datetimepicker6').datetimepicker({
        dateFormat: "yy-mm-dd",
        timeFormat: 'hh:mm:ss',
        defaultTimezone: "+0530",
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:2014'
    });
  });
</script>