<div class="smart-form client-form animated fadeInDown">

<%= form_for([@prescription.visit, @prescription]) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <section>
            <h3><%= f.label :medicine %></h3>
            <h3><%= f.text_field :medicine, :list=>"list1" %></h3>
              <datalist id="list1">
                <option value="Paracetamol">Paracetamol</option>
                <option value="Metachlopramide">Metachlopramide</option>
                <option value="Levocetrizine">Levocetrizine</option>
                <option value="Domeperidone">Domeperidone</option>
              </datalist>
          </section>

          <br />

          <section>
            <h3><%= f.label :frequency %></h3>
            <h3><%= f.text_field :frequency, :list=>"list2" %></h3>
              <datalist id="list2">
                <option value="OD">OD</option>
                <option value="OM">OM</option>
                <option value="HS">HS</option>
                <option value="BD">BD</option>
                <option value="TDS">TDS</option>
                <option value="QID">QID</option>
              </datalist>
          </section>

          <br />

          <section>
            <h3><%= f.label :duration %></h3>
            <h3><%= f.text_field :duration, :list=>"list3" %></h3>
              <datalist id="list3">
                <option value="1day">1day</option>
                <option value="2days">2days</option>
                <option value="3days">3days</option>
                <option value="4to6days">4-6days</option>
                <option value="1week">1week</option>
                <option value="2weeks">2weeks</option>
                <option value="3weeks">3weeks</option>
                <option value="1month">1month</option>
                <option value="2months">2months</option>
                <option value="3months">3months</option>
                <option value="6months">6months</option>
                <option value="1year">1year</option>
              </datalist>
          </section>

          <br />

          <section>
            <h3><%= f.label :route %></h3>
            <h3><%= f.text_field :route, :list=>"list4" %></h3>
              <datalist id="list4">
                <option value="im">im</option>
                <option value="iv">iv</option>
                <option value="po">po</option>
                <option value="pr">pr</option>
                <option value="intramuscular">intramuscular</option>
                <option value="intravenous">intravenous</option>
                <option value="per-oral">per oral</option>
                <option value="per-rectal">per rectal</option>
              </datalist>
          </section>
          <footer>
              <input class="btn btn-primary" name="commit" type="submit" value="Submit">
          </footer>
          
<% end %>


<!--
<%= form_for([@prescription.visit, @prescription]) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medicine %><br />
    <%= f.text_field :medicine %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :route %><br />
    <%= f.text_field :route %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 -->