<h2> Formatting basic Investigations of category: <%=@category%>,  sub_category: <%=@sub_category%></h2>

<%= form_tag main_investigations_path(:previous_category => @category, :category => 'lipid_profile') do %>

  <% @investigations.each do |dq| %>
    <%= label_tag dq.title%>
    <%= text_field_tag "#{APP_CONFIG['investigation_prefix']}#{dq.id}", get_selected_report("#{APP_CONFIG['investigation_prefix']}#{dq.id}") %>
    <br>

  <% end %>

  <div class="actions">
    <%= submit_tag 'Save', :name => 'save', :class => "btn btn-success"%>
    <%= submit_tag 'Next', :name => 'next', :class => "btn btn-success"%>
  </div>
<% end %>

