<h1> top menu will have some basic patient details, we will make it part of the template itself </h1>


<h2> Formatting basic questions of super category: <%=@super_category%>,  category: <%=@category%></h2>




<h2>It should be a form instead of a table, with an Update/Create option</h2>
<table>
<tr>
	<th>Question Id </th>
	<th>Question Title </th>		
	<th>Answer Type </th>
	<th>Answer </th>
</tr>
<% @questions.each do |q| %>
<tr>
	<td><%=q.id%></td>
	<td><%=q.title%></td>
	<td><%=q.answer_type%>, Is it <%=APP_CONFIG[:description]%>?</td>
	<td>BAsed on answer_type, options to come<%=q.id%></td>
</tr>
<% end %>

</table>


