
<h1 style="margin-left:40px;"><%=@user.name%></h1>

<i style="margin-left:40px;" class="fa fa-cog"></i>&nbsp;<%= link_to "Change Password", edit_user_registration_path, class: "change_pw" %>

<div id="content" class="animated fadeInDown" overflow="scroll">

	<%= form_for(@user, :html => { style: "margin-left:20px;",  class: "smart-form client-form", role:"form" }) do |f|%>
		  <% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		      <ul>
		      <% @user.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      		<div class="well no-padding">
      			<header>Profile (<%= @user.email %>)</header>
        		<fieldset>
				  
				  <section>
		            <div class="form-group">
		                <%= f.label :name %><br />
		                <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
		            </div>
		          </section>
		          <section>
					  <div class="field-group">
					    <%= f.label :age %><br />
					    <%= f.text_field :age, class: "form-control", placeholder: "Age" %>
					  </div>
		          </section>
		          <section>
					  <div class="field-group">
					    <%= f.label :gender %><br />
					    <%= f.text_field :gender, class: "form-control", placeholder: "Gender" %>
					  </div>
		          </section>
          		  <section>
			            <div class="form-group">
			                <%= f.label :date_of_birth %><br />
			                <%= f.text_field :date_of_birth, class: "form-control", placeholder: "Date of birth" %>
			            </div>
          		  </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :address %><br />
					    <%= f.text_field :address_line1, class: "form-control", placeholder: "Building" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :' ' %><br />
					    <%= f.text_field :address_line2, class: "form-control", placeholder: "Street" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :' ' %><br />
					    <%= f.text_field :address_line3, class: "form-control", placeholder: "Nearest Mile Stone" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :city %><br />
					    <%= f.text_field :city, class: "form-control", placeholder: "City"%>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :district %><br />
					    <%= f.text_field :district, class: "form-control", placeholder: "District" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :state %><br />
					    <%= f.text_field :state, class: "form-control", placeholder: "State" %>
					  </div>
		          </section>
		         </fieldset>
		    </div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      		<div class="well no-padding">
        		<fieldset>
        		  <section>
					  <div class="form-group">
					    <%= f.label :pin_code %><br />
					    <%= f.text_field :pin_code, class: "form-control", placeholder: "Pin Code" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :country %><br />
					    <%= f.text_field :country, class: "form-control", placeholder: "Country" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :phone_number %><br />
					    <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :mobile %><br />
					    <%= f.text_field :mobile, class: "form-control", placeholder: "Mobile" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :graduation %><br />
					    <%= f.text_field :graduation, class: "form-control", placeholder: "Graduation" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :post_graduation %><br />
					    <%= f.text_field :post_graduation, class: "form-control", placeholder: "Post Graduation" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :about_me %><br />
					    <%= f.text_area :about_me, class: "form-control", placeholder: "About Me", style: "height:221px; max-height:221px;" %>
					  </div>
		          </section>
		          <section>
					  <div class="form-group">
					    <%= f.label :logo %><br />
					    <%= f.text_field :logo, class: "form-control", placeholder: "logo" %>
					  </div>
		          </section>

		         </fieldset>
		         <footer>
		            <div>
		                <%= f.submit "Update Profile", class: "btn btn-primary" %>
		            </div>
		        <% end %>
		        </footer>
		    </div>
		</div>
</div>
