<head>
	<title> SmartAdmin </title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body id="login" class="animated fadeInDown">
	<header id="header">
		<div id="logo-group">
				<span id="logo"> <img src="img/logo.png" alt="SmartAdmin"> </span>
			</div>

			<span id="login-header-space"> <span class="hidden-mobile">Need an account?</span> <a href="register.html" class="btn btn-danger">Creat account</a> </span>

		</header>
<div class="container" style="width:30%">
<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Enter email" %></div>
  </div>
  <br />
  <div><%= f.submit "Send me reset password instructions", class: "btn btn-success" %></div>
<% end %>

<br />
<%= render "devise/shared/links" %>


</div>