    <% @questions.each do |q| %>
      <section>
      <h1><%= label_tag q.title%></h1>
      <br>
      <%= select_tag "#{APP_CONFIG['question_prefix']}#{q.id}", options_from_collection_for_select(@answers, "id", "title", get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{q.id}") ), include_blank: true, :style=>"border-style: solid ; border-width: 5px; border-color: gray;", :rows=>"4", :cols=>"40"%>
      <br>
      <br>
      </section>
    <% end %>

    <% @descriptive_questions.each do |dq| %>
      <section>
          <h3><%= label_tag dq.title%></h3>
            <%= text_area_tag "#{APP_CONFIG['descriptive_question_prefix']}#{dq.id}", get_selected_answer_id("#{APP_CONFIG['descriptive_question_prefix']}#{dq.id}"), :style=>"border-style: dashed; border-width: 1px; border-color: gray; resize: none;", :rows=>"4", :class=>"col-lg-12 col-md-12 col-sm-12 col-xs-12", :wrap=>"soft" %>
          <br>
          <br>
          <br>
          <br>
      </section>
    <% end %>

    <footer>
        <%= submit_tag "Save Details", :name => 'save', :class => "btn btn-primary" %>
        <%= submit_tag "Save and Next", :name => 'next', :class => "btn btn-success" %>
        <%= submit_tag "Save and Return", :name => 'exit', :class => "btn btn-info" %>
    </footer>

<br />
<br />
<br />

