<div id="login" class="container animated fadeInDown">
  <div id="content" class="smart-form client-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" style="padding-top:10px">
      <div class="well no-padding">
        <header>
          Formatting basic questions of super category: <%=@super_category%>,  category: <%=@category%>
        </header>
          <%= form_tag pms_history_path(:previous_category => @category, :previous_super_category => @super_category, :category => 'pms_history', :super_category => 'history') do %>
          <fieldset>
            <section>
            <%= label_tag 'description', 'Description' %>
            <%= text_area_tag :chief_complaint, @current_visit.chief_complaint, :autofocus => true, class: "form-control", cols:4, rows:2 %>
            </section>
            <%= render 'form' %>
          </fieldset>
          <% end %>
      </div>
    </div>
  </div>
</div>