<div id="login" class=" animated fadeInDown">
  <div id="content" class="smart-form client-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" style="padding-top:10px">
      <div class="well no-padding">
        <header>
          Formatting basic questions of super category: <%=@super_category%>,  category: <%=@category%>
        </header>
		<%= form_tag main_history_path(:previous_category => @category, :previous_super_category => @super_category, :category => 'other_systems_history', :super_category => 'history') do %>
        <section>
        <%= text_area_tag :other_systems, @current_visit.other_systems, :autofocus => true, class: "form-control", cols:4, rows:2 %>
        </section>
  		  <fieldset>
  		    <%= render 'form' %>
  		  </fieldset>
		<% end %>
      </div>
    </div>
  </div>
</div>