<header id="header">
    <div id="logo-group">
      <span id="logo"><h3>New Patient</h3></span>
    </div>
      <span id="login-header-space">
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-primary" %>
      </span>
  </header>

<div id="content" class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="well no-padding">

      <%= form_for(@patient, html: { class: "smart-form client-form", role:"form" } ) do |f| %>
        <% if @patient.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <section>
    <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, :autofocus => true, class: "form-control", placeholder: "First Name" %>
    </div>
  </section>

  <section>
    <div class="form-group">
        <%= f.label :mobile %><br />
        <%= f.text_field :mobile, :autofocus => true, class: "form-control", placeholder: "Mobile No." %>
    </div>
  </section>

  <section>
    <div class="form-group">
        <%= f.label :email %><br />
        <%= f.text_field :email, :autofocus => true, class: "form-control", placeholder: "Email" %>
    </div>
  </section>
</div>
</div>
</fieldset>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="well no-padding">
        <div class="smart-form client-form">

<fieldset>
  <section>
    <div class="form-group">
        <%= f.label 'Husband Name' %><br />
        <%= f.text_field :husband_name, :autofocus => true, class: "form-control", placeholder: "Husband Name" %>
    </div>
  </section>

  <section>
    <div class="form-group">
        <%= f.label 'Father Name' %><br />
        <%= f.text_field :father_name, :autofocus => true, class: "form-control", placeholder: "Father Name" %>
    </div>
  </section>

  <section>
    <div class="form-group">
        <%= f.label :age %><br />
        <%= f.number_field :age, :autofocus => true, class: "form-control", placeholder: "Age" %>
    </div>
  </section>

  <section>
    <div class="form-group">
        <%= f.label :gender %><br />
        <%= f.text_field :gender, :autofocus => true, class: "form-control", placeholder: "Male/Female" %>
    </div>
  </section>

  <section>
    <div class="form-group">
        <%= f.label 'Reference Mobile Number' %><br />
        <%= f.text_field :reference_mobile, :autofocus => true, class: "form-control", placeholder: "Number" %>
    </div>
  </section>
</fieldset>

    <div>
        <%= f.submit "Create Entry", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
</div>
</div>
</div>













