<div class="container" style="width:80%">

<%= form_for(@patient, html: { class: "form-horizontal", role:"form" } ) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :autofocus => true, class: "form-control", placeholder: "First Name" %>
</div>

<div class="form-group">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, :autofocus => true, class: "form-control", placeholder: "Mobile No." %>
</div>

<div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email, :autofocus => true, class: "form-control", placeholder: "Email" %>
</div>

<div class="form-group">
    <%= f.label 'Husband Name' %><br />
    <%= f.text_field :husband_name, :autofocus => true, class: "form-control", placeholder: "Husband Name" %>
</div>

<div class="form-group">
    <%= f.label 'Father Name' %><br />
    <%= f.text_field :father_name, :autofocus => true, class: "form-control", placeholder: "Father Name" %>
</div>

<div class="form-group">
    <%= f.label :age %><br />
    <%= f.number_field :age, :autofocus => true, class: "form-control", placeholder: "Age" %>
</div>

<div class="form-group">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, :autofocus => true, class: "form-control", placeholder: "Male/Female" %>
</div>

<div class="form-group">
    <%= f.label 'Reference Mobile Number' %><br />
    <%= f.text_field :reference_mobile, :autofocus => true, class: "form-control", placeholder: "Number" %>
</div>

<div>
    <%= f.submit "Create Entry", class: "btn btn-primary" %>
</div>
<% end %>
</div>














