<body id="login" class="animated fadeInDown">
<div id="main" role="main">
	<div class="table-responsive">
	<table id="resultTable" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Mobile</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% if @exact_result_found %>
				<h1 class="font-md"> Search Result based on exact input: </h1><br />
				<%@exact_results.each do |er|%>
				<tr>
					<td><%=er.id%></td>
					<td><%=er.first_name%></td>
					<td><%=er.last_name%></td>
					<td><%=er.mobile%></td>
					<td><%=er.email%></td>
					<td><span class="label label-success"><%= link_to 'Select', er %> </span>      |<span class="label label-success"> <%= link_to 'Edit', edit_patient_path(er) %> </span></td>
				</tr>
				<% end %>

				<% else %>
				<h1 class="font-md"><%=@comments%></h1>
				<%@fuzzy_results.each do |fr|%>
				<tr>
					<td><%=fr.id%></td>
					<td><%=fr.first_name%></td>
					<td><%=fr.last_name%></td>
					<td><%=fr.mobile%></td>
					<td><%=fr.email%></td>
					<td><span class="label label-success"><%= link_to 'Select', fr %></span>|<span class="label label-success"><%= link_to 'Edit', edit_patient_path(fr) %> </span></td>
				</tr>
				<% end %>

			<% end %>
		</tbody>
	</table>
	</div>

</div>



<!-- <h2> Search Result based on exact input: </h2>

<% if @exact_result_found %>
	<h3>Result found: </h3>
	<table>
	<%@exact_results.each do |er|%>
	<tr>
		<p> <%=er.id%></p>
	</tr>
	<% end %>
	</table>
<% else %>
	<%=@comments%>
	<table>
	<%@fuzzy_results.each do |fr|%>
	<tr>
		<td> <%=fr.id%></td>
		<td> <%=fr.first_name%></td>
	</tr>
	<% end %>
	</table>

<% end %> -->




