
<body id="login" class="animated fadeInDown">
    <header id="header">
        <div id="logo-group">
            <h2>DocOnline</h2>
        </div>
    </header>

<div id="main" role="main">
    <div id="content" class="container smart-form client-form">

<div class="col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="well no-padding">
        <header>
            Search Patients
        </header>

        <fieldset>
            <section>
                <br>
                    <%= form_tag("/patients/generic_search", method: "get") do %>
                        <div class="inline-group">
                            <label class="radio">
                                <input type="radio" name="radio-inline" checked="checked" value="uhid">
                                <i></i>UHID</label>
                            <label class="radio">
                                <input type="radio" name="radio-inline" value="first_name">
                                <i></i>First Name</label>
                            <label class="radio">
                                <input type="radio" name="radio-inline" value="mobile">
                                <i></i>Mobile Number</label>
                            <label class="radio">
                                <input type="radio" name="radio-inline" value="email">
                                <i></i>Email address</label>
                        </div><br>
                            <div class="form-group">
                                <label for="search" class="input"> <i class="icon-append fa fa-search"></i>
                                <input type="text" name="search_input" placeholder="Type here">
                                <b class="tooltip tooltip-bottom-right">Type text here for search</b> </label>
                            </div>
                        <footer>
                            <%= submit_tag "Search Patient", class: "btn btn-primary"%>
                        </footer>
                    <% end %>
            </section>

<!--
            <section>
                <%= form_for(@patient, :url => {:controller => "patients", :action => "search_by_uhid"}, html: { class: "smart-form client-form", role:"form" } ) do |f| %>
                <div class="form-group">
                    <%= f.label :id %><br />
                    <%= f.text_field :id, :autofocus => true, class: "form-control", placeholder: "UHID" %>
                </div>
                <footer>
                    <%= f.submit "Search Patient by UHID", class: "btn btn-primary" %>
                </footer>
                <%end%>
            </section>

            <section>
                <span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span>
            </section>

            <section>
                <%= form_for(@patient, :url => {:controller => "patients", :action => "search_by_first_name"}, html: { class: "smart-form client-form", role:"form" } ) do |f| %>
                <div class="form-group">
                    <%= f.label :first_name %><br />
                    <%= f.text_field :first_name, :autofocus => true, class: "form-control", placeholder: "Name" %>
                </div>
                <footer>
                    <%= f.submit "Search Patient by First name", class: "btn btn-primary" %>
                </footer>
                <%end%>
            </section>

            <section>
                <span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span>
            </section>

            <section>
                <%= form_for(@patient, :url => {:controller => "patients", :action => "search_by_mobile"}, html: { class: "smart-form client-form", role:"form" } ) do |f| %>
                <div class="form-group">
                    <%= f.label :mobile %><br />
                    <%= f.text_field :mobile, :autofocus => true, class: "form-control", placeholder: "Mobile No." %>
                </div>
                <footer>
                    <%= f.submit "Search Patient By Mobile", class: "btn btn-primary" %>
                </footer>
                <%end%>
            </section>

            <section>
                <span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span>
            </section>

            <section>
                <%= form_for(@patient, :url => {:controller => "patients", :action => "search_by_email"}, html: { class: "smart-form client-form", role:"form" } ) do |f| %>
                <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :id, :autofocus => true, class: "form-control", placeholder: "Email" %>
                </div>
                <footer>
                    <%= f.submit "Search Patient by Email", class: "btn btn-primary" %>
                </footer>
                <%end%>
            </section>
 -->
        </fieldset>

    </div>
</div>

