<div class="container" style="width:80%">

<%= form_for(@patient, :url => {:controller => "patients", :action => "search_by_uhid"}, html: { class: "form-horizontal", role:"form" } ) do |f| %>

<div class="form-group">
    <%= f.label :id %><br />
    <%= f.number_field :id, :autofocus => true, class: "form-control", placeholder: "UHID" %>
</div>

<div>
    <%= f.submit "Search Patient by UHID", class: "btn btn-primary" %>
</div>
<% end %>

<%= form_for(@patient, :url => {:controller => "patients", :action => "search_results"}, html: { class: "form-horizontal", role:"form" } ) do |f| %>

<div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true, class: "form-control", placeholder: "Name" %>
</div>

<div class="form-group">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, :autofocus => true, class: "form-control", placeholder: "Mobile No." %>
</div>

<div>
    <%= f.submit "Search Patient By Name and Mobile", class: "btn btn-primary" %>
</div>
<% end %>


<%= form_for(@patient, :url => {:controller => "patients", :action => "search_by_email"}, html: { class: "form-horizontal", role:"form" } ) do |f| %>

<div class="form-group">
    <%= f.label :id %><br />
    <%= f.email_field :id, :autofocus => true, class: "form-control", placeholder: "Email" %>
</div>

<div>
    <%= f.submit "Search Patient by Email", class: "btn btn-primary" %>
</div>
<% end %>







</div>














