<body id="login" class="animated fadeInDown">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="table-responsive animated fadeInDown">
  <table id="resultTable" class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
          <td>First Name: <%= @patient.first_name %></td>
          <td>Last Name: <%= @patient.last_name %></td>
        </tr>
        <tr>
          <td>Age: <%= @patient.age %></td>
          <td>Gender: <%= @patient.gender %></td>
        </tr>
        <tr>
          <td>Mobile: <%= @patient.mobile %></td>
          <td>Email: <%= @patient.email %></td>
        </tr>
          <td>Insurance Provider: <%= @patient.insurance_provider %></td>
          <td>Insurance Number: <%= @patient.insurance_policy_number %></td>
        </tr>
        <tr>
          <td>Patient Type: <%= @patient.patient_type %></td>
          <td>ID Number: <%= @patient.id_number %></td>
        </tr>
        <tr>
          <td>Ref. Name: <%= @patient.reference_name %></td>
          <td>Ref. Mobile: <%= @patient.reference_mobile %></td>
        </tr>
        <tr>
          <td>Emergency Name: <%= @patient.emergency_name %></td>
          <td>Emergency Mobile: <%= @patient.emergency_mobile %></td>
        </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Edit Registration Details', edit_patient_path(@patient), :class=>"btn btn-info" %>

<br>
<br>
<br>
<%= link_to "Create NEW Visit", create_new_visit_path(), :class => "btn btn-lg btn-primary active"%>
<br>
<br>

<% if @visits.size > 0 %>
	<h1>Existing Patient Visits: </h1>
	<% @visits.each do |v|%>
		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		      	Visit ID: <%=v.id%> | <%= link_to "Edit", show_details_path(:visit_id => v.id), :class => "btn btn-primary active"%>
		        <a class="pull-right" data-toggle="collapse" href="#<%=v.id%>">
		          <i class="fa fa-lg fa-fw fa-align-justify"></i>
		        </a>
		      </h4>
		    </div>
		   <div id=<%=v.id%> class="panel-collapse collapse">
		      <div class="panel-body">
		      	<h2>Visited on: <%=v.created_at%></h2>
				<h2>Summary</h2>
				<div class="btn btn-success">View Details</div>
		      </div>
		   </div>
		</div>
	<% end %>

	<% else %>
		<h1>No existing Visit of this patient</h1>
	<% end %>

</div>
</body>