<body id="login" class="animated fadeInDown">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

<p id="notice"><%= notice %></p>

<p>
  <b>Patient Name:</b>
  <%= @patient.first_name %>
</p>

<%= link_to "Create NEW Visit", create_new_visit_path(), :class => "btn btn-primary active"%>

<% if @visits.size > 0 %>
	<h1>Existing Patient Visits: </h1>
	<% i = 0 %>
	<% @visits.each do |v|%>
		<div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		      	Visit ID: <%=v.id%> | <%= link_to "Edit", show_details_path(:visit_id => v.id), :class => "btn btn-primary active"%>
		        <a class="pull-right" data-toggle="collapse" href="#<%=i%>">
		          <i class="fa fa-lg fa-fw fa-align-justify"></i>
		        </a>
		      </h4>
		    </div>
		   <div id=<%=i%> class="panel-collapse collapse">
		      <div class="panel-body">
		      	<h2>Visited on: <%=v.created_at%></h2>
				<h2>Summary</h2>
				<div class="btn btn-success">View Details</div>
		      </div>
		   </div>
		</div>
		<% i = i + 1 %>
	<% end %>

	<% else %>
		<h1>No existing Visit of this patient</h1>
	<% end %>

<%= link_to 'Edit', edit_patient_path(@patient), :class=>"btn btn-info" %>
<%= link_to 'Back', patients_path, :class=>"btn btn-success" %>

</div>
</body>