<div class="smart-form client-form animated fadeInDown" style="padding:20px">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      		<div class="well no-padding">
      			<header>Favourite Prescription</header>
				<%= form_for(@favourite_prescription) do |f| %>
				  <% if @favourite_prescription.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@favourite_prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

				      <ul>
				      <% @favourite_prescription.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				          
				<% end %>
			</div>
	</div>
	</br>
	</br>

	<div>
	  	<table id="resultTable" class="table table-striped table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th colspan="2">Action</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%= form_for(@favourite_prescription) do |f| %>
		      <tr>
		      	<td>
		      		<%= f.text_field :name, :calss => "fav_prescription_text", :style=>"padding:4px;" %>
		      	</td>
		      	<td colspan="2">
		      		<input class="btn btn-primary fav_prescription_button" name="commit" type="submit" value="Submit">
		      	</td>
		      </tr>
		  <%end%>		
	      <% @favourite_prescriptions.each do |prescription| %>
	        <tr>
	          <td><div class="edit" name="name" id="<%=prescription.id%>"><%= prescription.name %></div></td>
	          <td><a class="btn btn-success btn-sm" onclick="window.location.href='<%=edit_favourite_prescription_path(prescription)%>'">View List</a></td>
	          <td><%= link_to 'Remove', [prescription], :class => "btn btn-danger btn-sm", :confirm => 'Are you sure?', :method => :delete %></td>
	        </tr>
	      <% end %>
	  	</tbody>
	    </table>
	</div>
</div>

<script>
jQuery(document).ready(function($) {

 $(".edit").each( function(i) {
	prescription_id = $(this).attr('id')
    $(this).editable("/favourite_prescriptions/"+prescription_id, {
  		 method	   : 'PUT',
  		 cssclass  : 'edittable_form_prescription',
  		 style     : 'width:200px;',
         name 	   : 'favourite_prescription['+$(this).attr('name')+']',
         cancel    : 'Cancel',
         submit    : 'OK',
         tooltip   : 'Double-click to edit...'
    })
 });
});
</script>