<div id="content" class="animated fadeInDown" overflow="scroll">

<%= form_for(@admission, :html => { class: "smart-form client-form", role:"form" }) do |f| %>
  <% if @admission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% @admission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
    <div class="well no-padding">
      <header>Admission</header>
      <fieldset>
          <section>
            <div class="form-group">
                <%= f.label :admission_Date %><br />
                <%#TODO time slider error fix%> 
                <%= f.text_field :admission_date, class: "form-control", placeholder: "Admission Date", value: @admission.admission_date
                %>
            </div>
          </section>
          <section>
            <div class="field-group">
              <%= f.label :bed %><br />
              <%= f.text_field :bed, class: "form-control", placeholder: "Bed" %>
            </div>
          </section>
          <section>
            <div class="field-group">
              <%= f.label :doctor %><br />
              <%= f.text_field :doctor, class: "form-control", placeholder: "Doctor" %>
            </div>
          </section>
          <section>
            <div class="field-group">
              <%= f.check_box :is_mlc%>
              <label for="admission_is_mlc" >Is mlc</label>
            </div>
          </section>
          <section>
            <div class="field-group">
              <%= f.label :mlc_details %><br />
              <%= f.text_area :mlc_details, class: "form-control", style: "height:200px;max-height:200px;" %>
            </div>
          </section>
          <section>
            <div class="field-group">
              <%= f.label :description %><br />
              <%= f.text_area :description, class: "form-control", style: "height:200px;max-height:200px;" %>
            </div>
          </section>
      </fieldset>
      <footer>
        <div>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
        <% end %>
      </footer>
      </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function ()
        {
            $('#admission_admission_date').datetimepicker({
              dateFormat: "yy-mm-dd",
              timeFormat: 'hh:mm:ss',
              defaultTimezone: "+0530",
              changeMonth: true,
              changeYear: true,
              yearRange: '1900:2014'
            });
        });
</script>