<div id="login" class=" animated fadeInDown">
  <div id="content" class="smart-form client-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" style="padding-top:10px">
      <div class="well no-padding">
        <header>
          Formatting basic questions of super category: <%=@super_category%>,  category: <%=@category%>
        </header>
          <%= form_tag edit_category_path(:category => @category, :super_category => @super_category), remote: true do %>
          <fieldset>
            <section>
            <% #TODO remove this %>

            <h3><%= label_tag 'description', 'Description' %></h3>
            <%= text_area_tag :chief_complaint, @current_visit.chief_complaint, :autofocus => true, :class=>"dashed-input1 col-lg-12 col-md-12 col-sm-12 col-xs-12", rows:4 %>
            
            </section>
            <br>
            <br>
            <br>
            <br>
            <%= render 'form' %>
          </fieldset>
          <% end %>
      </div>
    </div>
  </div>
</div>