<div id="login" class=" animated fadeInDown">
  <div id="content" class="smart-form client-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="well no-padding">
          <%= form_tag edit_category_path(:category => @category, :super_category => @super_category), remote: true do %>
        <header>
        <center><p ><b class="category_name"><%=@super_category.capitalize%> : <%=@full_category%></b></p></center></br>
    <center><%= submit_tag "Save and Return", :name => 'exit', :class => "btn btn-info" %>
    <%= submit_tag "Save and Previous", :name => 'prev', :class => "btn btn-warning" %>
    <%= submit_tag "Save and Next", :name => 'next', :class => "btn btn-success" %>
    <%= submit_tag "Save Details", :name => 'save', :class => "btn btn-primary" %></center>

        </header>
          <fieldset>
            <%= render 'form' %>
            <footer>
                <%= submit_tag "Save Details", :name => 'save', :class => "btn btn-primary" %>
                <%= submit_tag "Save and Next", :name => 'next', :class => "btn btn-success" %>
                <%= submit_tag "Save and Previous", :name => 'prev', :class => "btn btn-warning" %>
                <%= submit_tag "Save and Return", :name => 'exit', :class => "btn btn-info" %>
            </footer>
            <br />
            <br />
          </fieldset>
          <% end %>
      </div>
    </div>
  </div>
</div>



