<div id="content" class="smart-form client-form">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class="well no-padding">
        <header>
            <b><%=@super_category%>
              <%if @super_category=='history'%>
                <button type="button" id="history_pdf_button" class= "btn btn-primary" onclick="javascript:window.location.href='/details/show_history?&pdf=true'">Generate PDF</button>
              <%end%>    
            </b>
        </header>
        <div id="accordion" style="display:table;">
          <%@categories.each do |index,value|%>
            <h3 id="<%=index%>" style="background:rgb(235, 235, 235)"><%=value%><i class="fa fa-plus-square"></i><i class="fa fa-minus-circle"></i></h3>
            <div id="<%=index%>_div" class="accordion_divs" style="display:table;width:100%;background:white;padding:0px">
                   
            </div>
          <%end%>
        </div>

    </div>
  </div>
</div>

<script>
$('h3').click(function(){
    if($(this).hasClass('ui-state-active')) {
      $(this).find(".fa-plus-square").css("display","block");
      $(this).find(".fa-minus-circle").css("display","none");
    }
    else {
      $(this).find(".fa-plus-square").css("display","none");
      $(this).find(".fa-minus-circle").css("display","block");
      url = '/details/edit_category?category='+$(this).attr("id")+'&super_category=<%=@super_category%>&accordion=true'
      $("#"+$(this).attr("id")+"_div").load(url +"#"+$(this).attr("id")+"_div", function() {
      });
    }
});
</script>