        <%= form_tag show_investigations_path do %>
        <header>
	      <%=@super_category%>:
		  <%= submit_tag "Save and Return", :name => 'exit', :class => "btn btn-info" %>
		  <%= submit_tag "Save and Next", :name => 'next', :class => "btn btn-success" %>
		  <%= submit_tag "Save Details", :name => 'save', :class => "btn btn-primary" %>
        </header>
        <fieldset>
	<% @categories.each do |index,value| %>
     <section>
     	<%= link_to value, edit_category_path(:category => index, :super_category => @super_category), :remote => true, :class => "btn btn-primary btn-lg" %>
     	<br />
		<% @questions.each do |question| %>
		  <% if question.category == "#{index}#{APP_CONFIG['common_category_tag']}"%>
			<div class="row">
			    <div class=" col-md-3">
			    <%= label_tag question.title%>
			    </div>
			    <div class="col-md-3">
			    <%= select_tag "#{APP_CONFIG['question_prefix']}#{question.id}", options_from_collection_for_select(@answers, "id", "title", get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{question.id}") ), include_blank: true, :style=>"border-style: solid ; border-width: 5px; border-color: gray;", :rows=>"4", :cols=>"40"%>
			    </div>
			</div>
			<br />
		  <%end%>
		<%end%>
		<% @descriptive_questions.each do |question| %>
		  <% if question.category == "#{index}#{APP_CONFIG['common_category_tag']}"%>
			  <section>
			      <h3><%= label_tag question.title%></h3>
			        <%= text_area_tag "#{APP_CONFIG['descriptive_question_prefix']}#{question.id}", get_selected_answer_id("#{APP_CONFIG['descriptive_question_prefix']}#{question.id}"), :rows=>"4", :class=>"col-lg-12 col-md-12 col-sm-12 col-xs-12 dashed-input1", :wrap=>"soft" %>
			      <br />
			  </section>
			<br />
		  <%end%>
		<%end%>
     </section>
	<%end%>
	</fieldset>
  		<% end  #end of form tag%>