<%if @investigations%>
  <table class="table">
    <tr>
    <th> Question </th>
    <th> Report </th>
    <th> Unit </th>
    <th> Normal </th>
    </tr>
  <% @investigations1.each do |inv| %>
    <tr>
      <% #TODO Don't make another SQL query, fetch it from existing activerecord object %>
      <td> <%= inv.title %> </td>
      <td>
        <%@report = @sc_investigations.find_by_investigation_id(inv.id)%>
        <% if @report.nil?%>
          <%@report = VisitInvestigation.new%>
          <span class='best_in_place' id='best_in_place_report' data-url='/visit_investigations/new?&qn_id=<%=inv.id%>' data-object='visit_investigation' data-attribute='report' data-type='input'>Edit!</span>
        <%else%>
          <%=best_in_place @report, :report, :type => :input, :path=>'/visit_investigations/'+@report.id.to_s+'?&qn_id='+inv.id.to_s, :nil => "Edit!"%>
        <%end%>
      </td>
      <td> <%= inv.units %> </td>
      <td> <%= inv.normal_min.to_s+ " - " +inv.normal_max.to_s%> </td>
    </tr>
  <% end %>
  </table>

<%else%>
  <table class="table ">
        <tr>
        <% @common_questions1.each do |question| %>
            <td style="float:left;">
              <table>
                <tr>
                  <td valign="top">
                    <b><%=question.title%>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</b>
                  </td>
                  <td>
                    <%@answer = @sc_common_visit_questions.find_by_question_id(question.id)%>
                     <%if @answer.nil? %>
                      <%@answer = VisitQuestion.new%>
                      <span class='best_in_place' id='best_in_place_answer_id' data-url='/visit_questions/new?&qn_id=<%=question.id%>' data-object='visit_question' data-attribute='answer_id' data-type='select' data-collection='[["","select"], [1, "Yes"], [2, "No"]]'>select</span>
                     <%else%>
                        <%= best_in_place @answer, :answer_id, :type => :select, :collection => [["","select"], [1, "Yes"], [2, "No"]]%>
                     <%end%>
                  </td>
                </tr>
              </table>
            </td>
        <%end%>
        </tr>
        <tr>
        <% @questions1.each do |question| %>
            <td style="float:left;">
              <table>
                <tr>
                  <td valign="top">
                    <b><%=question.title%>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</b>
                  </td>
                  <td>
                    <%@answer = @sc_visit_questions.find_by_question_id(question.id)%>
                     <%if @answer.nil? %>
                      <%@answer = VisitQuestion.new%>
                      <span class='best_in_place' id='best_in_place_answer_id' data-url='/visit_questions/new?&qn_id=<%=question.id%>' data-object='visit_question' data-attribute='answer_id' data-type='select' data-collection='[["","select"], [1, "Yes"], [2, "No"]]'>select</span>
                     <%else%>
                        <%= best_in_place @answer, :answer_id, :type => :select, :collection => [["","select"], [1, "Yes"], [2, "No"]], :path => '/visit_questions/'+@answer.id.to_s+'?&qn_id='+question.id.to_s%>
                     <%end%>
                  </td>
                </tr>
              </table>
            </td>
        <%end%>
        </tr>
        <% @common_descriptive_questions1.each do |question| %>
            <tr>
            <td style="float:left;">
              <table>
                <tr>
                  <td valign="top">
                    <b><%=question.title%>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</b>
                  </td>
                  <td>
                    <%@answer = @sc_common_visit_descriptive_questions.find_by_descriptive_question_id(question.id)%>
                     <%if @answer.nil? %>
                      <%@answer = VisitDescriptiveQuestion.new%>
                      <span class='best_in_place' id='best_in_place_answer' data-url='/visit_descriptive_questions/new?&qn_id=<%=question.id%>' data-object='visit_descriptive_question' data-attribute='answer' data-type='textarea' data-nil = "Click me to add content!" data-ok-button='Save' data-cancel-button='Cancel'>click me to add content!</span>
                    <%else%>
                      <%if @answer.answer.blank? %>
                        <span class='best_in_place' id='best_in_place_answer' data-url='/visit_descriptive_questions/<%=@answer.id%>?&qn_id=<%=question.id%>' data-object='visit_descriptive_question' data-attribute='answer' data-type='textarea' data-nil = "Click me to add content!" data-ok-button='Save' data-cancel-button='Cancel'>click me to add content!</span>
                      <%else%>
                        <%=best_in_place @answer, :answer, :ok_button => 'Save', :cancel_button => 'Cancel', :ok_button_class => 'btn btn-primary btn-sm', :cancel_button_class => 'btn btn-primary btn-sm', :nil => 'Click me to add content!',:html_attrs => { :style => 'width:500px; height:500px;' }, :path=>'/visit_descriptive_questions/'+@answer.id.to_s+'?&qn_id='+question.id.to_s, :type => :textarea %>
                      <%end%> 
                    <%end%>
                  </td>
                </tr>
              </table>
            </td>
        </tr>
        <%end%>
        <% @descriptive_questions1.each do |question| %>
          <tr>
            <td>
            <table>
                <tr>
                  <td valign="top">
                    <b><%=question.title%>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</b>
                  </td>
                  <td>
                    <%@answer = @sc_visit_descriptive_questions.find_by_descriptive_question_id(question.id)%>
                    <%if @answer.nil? %>
                      <%@answer = VisitDescriptiveQuestion.new%>
                      <span class='best_in_place' id='best_in_place_answer' data-url='/visit_descriptive_questions/new?&qn_id=<%=question.id%>' data-object='visit_descriptive_question' data-attribute='answer' data-type='textarea' data-nil = "Click me to add content!" data-ok-button='Save' data-cancel-button='Cancel'>click me to add content!</span>
                    <%else%>
                      <%if @answer.answer.blank? %>
                        <span class='best_in_place' id='best_in_place_answer' data-url='/visit_descriptive_questions/<%=@answer.id%>?&qn_id=<%=question.id%>' data-object='visit_descriptive_question' data-attribute='answer' data-type='textarea' data-nil = "Click me to add content!" data-ok-button='Save' data-cancel-button='Cancel'>click me to add content!</span>
                      <%else%>
                        <%=best_in_place @answer, :answer, :type => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel', :ok_button_class => 'btn btn-primary btn-sm', :cancel_button_class => 'btn btn-primary btn-sm', :nil => 'Edit', :path=>'/visit_descriptive_questions/'+@answer.id.to_s+'?&qn_id='+question.id.to_s %>
                      <%end%> 
                    <%end%>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <%end%>
  </table>
<%end%>