<section>
<div class="row pad">
  <table class="question_table">
  <tr>
  <% @common_questions.each do |q| %>
        <td style="width:50%;float:left;">
          <table>
            <tr style="height:30px;">
              <td>
                <b><%= q.title%></b>&nbsp;:&nbsp;&nbsp;</b>
              </td>
              <td>
                <%= check_box_tag "#{APP_CONFIG['question_prefix']}#{q.id}", '1',(get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{q.id}") == 1 ? true : false), :class => "#{APP_CONFIG['question_prefix']}#{q.id}", :onclick=>"SetSel(this)"%>yes&nbsp;&nbsp;
                <%= check_box_tag "#{APP_CONFIG['question_prefix']}#{q.id}", '2',(get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{q.id}") == 2 ? true : false), :class => "#{APP_CONFIG['question_prefix']}#{q.id}", :onclick=>"SetSel(this)" %>No
                <%#= select_tag "#{APP_CONFIG['question_prefix']}#{q.id}", options_from_collection_for_select(@answers, "id", "title", get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{q.id}") ), include_blank: true, :style=>"", :rows=>"4", :cols=>"40"%>&nbsp;&nbsp;&nbsp;&nbsp; 
            </td>
            </tr>
          </table>
        </td>
  <% end %>
  </tr>
  </table>
</div>
</section>

<section>
<div class="row pad">
  <table class="question_table">
  <tr>
  <% @questions.each do |q| %>
        <td style="width:50%;float:left;">
          <table>
            <tr style="height:30px;">
              <td>
                <b><%= q.title%></b>&nbsp;:&nbsp;&nbsp;</b>
              </td>
              <td>
                <%= check_box_tag "#{APP_CONFIG['question_prefix']}#{q.id}", '1',(get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{q.id}") == 1 ? true : false), :class => "#{APP_CONFIG['question_prefix']}#{q.id}", :onclick=>"SetSel(this)"%>yes&nbsp;&nbsp;
                <%= check_box_tag "#{APP_CONFIG['question_prefix']}#{q.id}", '2',(get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{q.id}") == 2 ? true : false), :class => "#{APP_CONFIG['question_prefix']}#{q.id}", :onclick=>"SetSel(this)" %>No
                <%#= select_tag "#{APP_CONFIG['question_prefix']}#{q.id}", options_from_collection_for_select(@answers, "id", "title", get_selected_answer_id("#{APP_CONFIG['question_prefix']}#{q.id}") ), include_blank: true, :style=>"", :rows=>"4", :cols=>"40"%>
              </td>
            </tr>
          </table>
        </td>
  <% end %>
  </tr>
  </table>
</div>
</section>


<% @common_descriptive_questions.each do |dq| %>
  <section>
      <h3><%= label_tag dq.title%></h3>
        <%= text_area_tag "#{APP_CONFIG['descriptive_question_prefix']}#{dq.id}", get_selected_answer_id("#{APP_CONFIG['descriptive_question_prefix']}#{dq.id}"), :rows=>"3", :class=>"col-lg-12 col-md-12 col-sm-12 col-xs-12 dashed-input1", :wrap=>"soft" %>
      <br>
      <br>
      <br>
      <br>
  </section>
<% end %>

<% @descriptive_questions.each do |dq| %>
  <section>
      <h3><%= label_tag dq.title%></h3>
        <%= text_area_tag "#{APP_CONFIG['descriptive_question_prefix']}#{dq.id}", get_selected_answer_id("#{APP_CONFIG['descriptive_question_prefix']}#{dq.id}"), :rows=>"3", :class=>"col-lg-12 col-md-12 col-sm-12 col-xs-12 dashed-input1", :wrap=>"soft" %>
      <br>
      <br>
      <br>
      <br>
  </section>
<% end %>

<%if !@investigations.blank? %>
<section>
  <table class="table table-bordered table-hover">
    <th>Field</th>
    <th>Value</th>
    <th>Units</th>
    <th>Normal Range</th>
    <% @investigations.each do |dq| %>
    <tr>
      <td> <%= label_tag dq.title%> </td>
      <td> <%= text_field_tag "#{APP_CONFIG['investigation_prefix']}#{dq.id}", get_selected_answer_id("#{APP_CONFIG['investigation_prefix']}#{dq.id}") %> </td>
      <td> <%= label_tag dq.units %> </td>
      <td> <%= label_tag "(#{dq.normal_min} - #{dq.normal_max})" %> </td>
    </tr>
    <% end %>
  </table>
</section>
<%end%>

