<div class="col-lg-3"></div>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-7 animated fadeInDown">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
    <h2>Visit Details</h2>
  </header>

<div class="row">
  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'Registration Details', edit_patient_path(@current_patient), :class => "btn btn-primary btn-xl"%>
  </div>

  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'Investigation', edit_category_path(:super_category => 'investigation', :category => 'hemogram'), :remote => true, :class => "btn btn-primary btn-xl"%>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'History', edit_category_path(:super_category => 'history', :category => 'chief_complaint'), :remote => true, :class => "btn btn-primary btn-xl" %>
  </div>

  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'Admit', new_admission_path(), :class => "btn btn-primary btn-xl"%>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'Examination', edit_category_path(:super_category => 'examination', :category => 'gpe'), :remote => true, :class => "btn btn-primary btn-xl"%>
  </div>

  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'Out Patient Follow-Up', follow_ups_path(), :class => "btn btn-primary btn-xl"%>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'Medication', visit_prescriptions_path(@current_visit), :class => "btn btn-primary btn-xl"%>
  </div>

  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
    <%= link_to 'Discharge Summary', root_path(), :class => "btn btn-primary btn-xl"%>
  </div>
</div>

</div>
</article>