<div class="col-lg-2 col-md-2"></div>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-6 animated fadeInDown">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
    <h2>Investigations</h2>
  </header>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6">
  	<%= link_to 'Hemogram', edit_category_path(:super_category => 'investigation', :category => 'hemogram'), :remote => true, :class => "btn btn-primary btn-xl" %>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6">
    <%= link_to 'LFT', edit_category_path(:super_category => 'investigation', :category => 'lft'), :remote => true, :class => "btn btn-primary btn-xl" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6">
    <%= link_to 'RFT', edit_category_path(:super_category => 'investigation', :category => 'rft'), :remote => true, :class => "btn btn-primary btn-xl" %>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6">
    <%= link_to 'Glucose', edit_category_path(:super_category => 'investigation', :category => 'glucose'), :remote => true, :class => "btn btn-primary btn-xl" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6">
    <%= link_to 'Lipid Profile', edit_category_path(:super_category => 'investigation', :category => 'lipid_profile'), :remote => true, :class => "btn btn-primary btn-xl" %>
  </div>
</div>

</div>
</article>