<div class="col-lg-2"></div>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-8 animated fadeInDown">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
    <h2>Investigations</h2>
  </header>

<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6">
  	<%= link_to 'Hemogram', hemogram_investigations_path(:category => 'hemogram'), :class => "btn btn-primary btn-xl" %>
  </div>

  <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6">
    <%= link_to 'LFT', lft_investigations_path(:category => 'lft'), :class => "btn btn-primary btn-xl" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6">
    <%= link_to 'RFT', rft_investigations_path(:category => 'rft'), :class => "btn btn-primary btn-xl" %>
  </div>

  <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6">
    <%= link_to 'Glucose', glucose_investigations_path(:category => 'glucose'), :class => "btn btn-primary btn-xl" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6">
    <%= link_to 'Lipid Profile', lipid_profile_investigations_path(:category => 'lipid_profile'), :class => "btn btn-primary btn-xl" %>
  </div>
</div>

</div>
</article>