<h1> Investigations </h1>


<%= link_to 'Hemogram', hemogram_investigations_path(:category => 'hemogram'), :class => "btn btn-primary" %>

<br>
<br>


<%= link_to 'LFT', lft_investigations_path(:category => 'lft'), :class => "btn btn-primary" %>


<br>
<br>


<%= link_to 'RFT', rft_investigations_path(:category => 'rft'), :class => "btn btn-primary" %>


<br>
<br>


<%= link_to 'Lipid Profile', lipid_profile_investigations_path(:category => 'lipid_profile'), :class => "btn btn-primary" %>



<br>
<br>


<%= link_to 'Glucose', glucose_investigations_path(:category => 'glucose'), :class => "btn btn-primary" %>



