<% if @show_header %>

<div id="over">
<div class="row animated fadeInDown">
  <div class="navbar-collapse navbar-inverse">
    <ul class="nav navbar-nav">
      <li><%= link_to "DocOnline", root_path %></li>
<!--       <li><%= link_to "New Patient", new_patient_path %></li>
      <li><%= link_to "Search Patient", search_patient_path %></li>
 -->
      <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Functions<b class="caret"></b></a>

        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">
                Managing Patients
              </li>
              <li>
                <%= link_to "New Patient", new_patient_path %>
              </li>
              <li>
                <%= link_to "Search Patient", search_patient_path %>
              </li>
              <li>
                <%= link_to "List of Patients", patients_path %>
              </li>
              <li class="divider"></li>
              <li class="dropdown-header">
                Dropdowns
              </li>
              <li>
                <a href="javascript:void(0);">Example</a>
              </li>
              <li>
                <a href="javascript:void(0);">Aligninment options</a>
              </li>
              <li>
                <a href="javascript:void(0);">Headers</a>
              </li>
              <li>
                <a href="javascript:void(0);">Disabled menu items</a>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">
                Button groups
              </li>
              <li>
                <a href="javascript:void(0);">Basic example</a>
              </li>
              <li>
                <a href="javascript:void(0);">Button toolbar</a>
              </li>
              <li>
                <a href="javascript:void(0);">Sizing</a>
              </li>
              <li>
                <a href="javascript:void(0);">Nesting</a>
              </li>
              <li>
                <a href="javascript:void(0);">Vertical variation</a>
              </li>
              <li class="divider"></li>
              <li class="dropdown-header">
                Button dropdowns
              </li>
              <li>
                <a href="javascript:void(0);">Single button dropdowns</a>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">
                Input groups
              </li>
              <li>
                <a href="javascript:void(0);">Basic example</a>
              </li>
              <li>
                <a href="javascript:void(0);">Sizing</a>
              </li>
              <li>
                <a href="javascript:void(0);">Checkboxes and radio addons</a>
              </li>
              <li class="divider"></li>
              <li class="dropdown-header">
                Navs
              </li>
              <li>
                <a href="javascript:void(0);">Tabs</a>
              </li>
              <li>
                <a href="javascript:void(0);">Pills</a>
              </li>
              <li>
                <a href="javascript:void(0);">Justified</a>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">
                Navbar
              </li>
              <li>
                <a href="javascript:void(0);">Default navbar</a>
              </li>
              <li>
                <a href="javascript:void(0);">Buttons</a>
              </li>
              <li>
                <a href="javascript:void(0);">Text</a>
              </li>
              <li>
                <a href="javascript:void(0);">Non-nav links</a>
              </li>
              <li>
                <a href="javascript:void(0);">Component alignment</a>
              </li>
              <li>
                <a href="javascript:void(0);">Fixed to top</a>
              </li>
              <li>
                <a href="javascript:void(0);">Fixed to bottom</a>
              </li>
              <li>
                <a href="javascript:void(0);">Static top</a>
              </li>
              <li>
                <a href="javascript:void(0);">Inverted navbar</a>
              </li>
            </ul>
          </li>
        </ul>

      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <div style="padding:8px 8px 0 0">
      <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          Settings <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-success active" %>
          </li>
          <li>
            <a href="javascript:void(0);">Another action</a>
          </li>
          <li>
            <a href="javascript:void(0);">Something else here</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);">Separated link</a>
          </li>
        </ul>
      </div>
    </div>
    </ul>
  </div>
</div>

<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid"> -->
    <!-- Collect the nav links, forms, and other content for toggling -->
<!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "New Patient", new_patient_path %></li>
        <li><%= link_to "Search Patient", search_patient_path %></li> -->
        <!-- <li><%= link_to "New Patient", new_patient_path %></li> -->


        <!-- Not working for some reason??? maybe intervension due to production.css -->
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

      </ul> -->
    <!-- </div> --><!-- /.navbar-collapse -->
  <!-- </div> --><!-- /.container-fluid -->
<!-- </nav> -->
</div>
<% end %>