<div id="over-the-top" style="padding-bottom:10px;">
    <div id="header_div" class="navbar-collapse navbar-inverse navbar-static-top">
      <ul class="nav navbar-nav">
        <% #TODO set title for DocOnline %>
        <li><%= link_to root_path do %> <i class="fa fa-lg fa-fw fa-home"></i> DocOnline <% end %> </li>
        <li><%= link_to "New Patient", new_patient_path, title: "Add a New Patient" %></li>
        <li><%= link_to "Search Patient", search_patient_path, title: "Search for a patient in database" %>
        <li><%= link_to "Visit Details", show_details_path, title: "Takes you to Details page only if patient visit is selected" %></li>

        <li class="dropdown dropdown-large">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>

          <ul class="dropdown-menu dropdown-menu-large row " style="background-color:white;">
            <li class="col-sm-4">
              <ul>
                <li class="dropdown-header">
                  Managing Patients
                </li>
                <li><%= link_to "New Patient", new_patient_path %></li>
                <li><%= link_to "Search Patient", search_patient_path %></li>
                <li><%= link_to "Current Patients", patients_path %></li>
                <br>
                <li class="dropdown-header">
                  Visit Details
                </li>
                <li> <%= link_to 'Main Page', show_details_path %></li>
                <li> <%= link_to 'History', show_history_path %></li>
                <li> <%= link_to 'Examinations', show_examinations_path %></li>
                <li> <%= link_to 'Investigations', show_investigations_path %></li>
                <li> <%= link_to 'Follow Up', follow_ups_path %></li>
                <li> <%= link_to 'Admissions', admissions_path %></li>
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <li class="dropdown-header">
                  History
                </li>
                <li>   <%= link_to 'Chief Complaint', edit_category_path(:super_category => 'history', :category => 'chief_complaint'), :remote => true %>
                </li>
                <li>   <%= link_to 'Past Medical Surgical', edit_category_path(:super_category => 'history', :category => 'pms_history'), :remote => true %>
                </li>
                <li>   <%= link_to 'Family Medical Surgical', edit_category_path(:super_category => 'history', :category => 'fms_history'), :remote => true %>
                </li>
                <li>   <%= link_to 'Personal/Social', edit_category_path(:super_category => 'history', :category => 'ps_history'), :remote => true %>
                </li>
                <li>   <%= link_to 'Treatment History', edit_category_path(:super_category => 'history', :category => 'treatment_history'), :remote => true %>
                </li>
                <li>   <%= link_to 'Other Systems History', edit_category_path(:super_category => 'history', :category => 'other_systems_history'), :remote => true %>
                </li>
                <br>
                <li class="dropdown-header">
                  Examinations
                </li>
                <li>   <%= link_to 'General Physical Examination', edit_category_path(:super_category => 'examination', :category => 'gpe'), :remote => true %>
                </li>
                <li>   <%= link_to 'Vitals Examination', edit_category_path(:super_category => 'examination', :category => 'vitals'), :remote => true %>
                </li>
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <li class="dropdown-header">
                  Investigations
                </li>
                <li>   <%= link_to 'Hemogram', edit_category_path(:super_category => 'investigation', :category => 'hemogram'), :remote => true %>
                </li>
                <li>   <%= link_to 'LFT', edit_category_path(:super_category => 'investigation', :category => 'lft'), :remote => true %>
                </li>
                <li>   <%= link_to 'RFT', edit_category_path(:super_category => 'investigation', :category => 'rft'), :remote => true %>
                </li>
                <li>   <%= link_to 'Glucose', edit_category_path(:super_category => 'investigation', :category => 'glucose'), :remote => true %>
                </li>
                <li>   <%= link_to 'Lipid Profile', edit_category_path(:super_category => 'investigation', :category => 'lipid_profile'), :remote => true %>
                </li>
                <br>
                <li class="dropdown-header">
                  Admissions
                </li>
                <li> <%= link_to 'Main Page', admissions_path %></li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <div style="padding:8px 8px 0 0">
        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            Settings <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-success active" %>
            </li>
            <li>
              <a onclick="javascript:window.location.href='/users/<%=current_user.id%>/edit'" style="cursor:pointer;">Profile</a>
            </li>
            <li>
              <a href="/enquiries/new">Contact Us</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:void(0);">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
      </ul>
    </div>
</div>
