<div id="over-the-top">
  <div class="row animated fadeInDown">
    <div class="navbar-collapse navbar-inverse">
      <ul class="nav navbar-nav">
        <li><%= link_to "DocOnline", root_path, title: "Home Page" %></li>
        <li><%= link_to "New Patient", new_patient_path, title: "Add a New Patient" %></li>
        <li><%= link_to "Search Patient", search_patient_path, title: "Search for a patient in database" %>
        <li><%= link_to "Visit Details", show_details_path, title: "Takes you to Details page only if patient visit is selected" %></li>

        <li class="dropdown dropdown-large">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>

          <ul class="dropdown-menu dropdown-menu-large row">
            <li class="col-sm-4">
              <ul>
                <li class="dropdown-header">
                  Managing Patients
                </li>
                <li><%= link_to "New Patient", new_patient_path %></li>
                <li><%= link_to "Search Patient", search_patient_path %></li>
                <li><%= link_to "Current Patients", patients_path %></li>
                <br>
                <li class="dropdown-header">
                  Visit Details
                </li>
                <li> <%= link_to 'Main Page', show_details_path %></li>
                <li> <%= link_to 'History', show_history_path %></li>
                <li> <%= link_to 'Examinations', show_examinations_path %></li>
                <li> <%= link_to 'Investigations', show_investigations_path %></li>
                <li> <%= link_to 'Follow Up', follow_ups_path %></li>
                <li> <%= link_to 'Admissions', admissions_path %></li>
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <li class="dropdown-header">
                  History
                </li>
                <li> <%= link_to 'Chief Complaint', chief_complaint_path %></li>
                <li> <%= link_to 'Past Medical Surgical', pms_history_path %></li>
                <li> <%= link_to 'Family Medical Surgical', fms_history_path %></li>
                <li> <%= link_to 'Personal/Social', ps_history_path %></li>
                <li> <%= link_to 'Treatment', treatment_history_path %></li>
                <li> <%= link_to 'Other Systems', other_systems_history_path %></li>
                <br>
                <li class="dropdown-header">
                  Examinations
                </li>
                <li> <%= link_to 'General Physical Examination', gpe_examinations_path %></li>
                <li> <%= link_to 'Vitals Examination', vitals_examinations_path %></li>
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <li class="dropdown-header">
                  Investigations
                </li>
                <li> <%= link_to 'Hemogram', hemogram_investigations_path %></li>
                <li> <%= link_to 'LFT', lft_investigations_path %></li>
                <li> <%= link_to 'RFT', rft_investigations_path %></li>
                <li> <%= link_to 'Glucose', glucose_investigations_path %></li>
                <li> <%= link_to 'Lipid Profile', lipid_profile_investigations_path %></li>
                <br>
                <li class="dropdown-header">
                  Admissions
                </li>
                <li> <%= link_to 'Main Page', admissions_path %></li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <div style="padding:8px 8px 0 0">
        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            Settings <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-success active" %>
            </li>
            <li>
              <a href="javascript:void(0);">Profile</a>
            </li>
            <li>
              <a href="javascript:void(0);">Contact Us</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:void(0);">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
      </ul>
    </div>
  </div>
</div>
