<div>
<aside id="left-panel" style="min-height: auto;overflow:auto;">

  <div class="login-info" style="padding-top:50px;">
    <span>
      <a href="#" id="show-shortcut">
        <span style="overflow:auto;">
		  <%=@user.name%>
		</span>
	  </a>
	</span>
  </div>

  <nav class="left_bar_nav">
	<ul>
	  <li>
		<a href="/" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
	  </li>

	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<a href="#"><i class="fa fa-lg fa-fw fa-group"></i>  <span class="menu-item-parent">Managing Patients</span>
		  <b class="collapse-sign" data-toggle="collapse" href="#patients">
		  	<i class="fa fa-fw fa-bars"></i>
		  </b>
		</a>
		<!-- #TODO open sub-menu based on the page, give proper ids 		
		#TODO to do that, you JUST need to add or remove the class "in"
		$("#patients").addClass("in") -->
 		  <div id="patients" class="panel-collapse collapse">
		  	<div class="panel-body" style="padding:0px">
			  <a href="/patients/new"><i class="fa fa-fw fa-arrow-circle-o-right"></i> New Patient</a>
			  <a href="/patients/search"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Search Patient</a>
			  <a href="/patients"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Current Patients</a>
		    </div>
	      </div>
		</div>
	  </li>

	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<a href="/details/show"><i class="fa fa-lg fa-fw fa-list-alt"></i>  <span class="menu-item-parent">Visit Details</span>
		  <b class="collapse-sign" data-toggle="collapse" href="#visit_details">
		  	<i class="fa fa-fw fa-bars"></i>
		  </b>
		</a>
		  <div id="visit_details" class="panel-collapse collapse">
		  	<div class="panel-body" style="padding:0px">
			  <a href="/details/show"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Main Page</a>
			  <a href="/details/show_history"><i class="fa fa-fw fa-arrow-circle-o-right"></i> History</a>
			  <a href="/details/show_examinations"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Examinations</a>
			  <a href="/details/show_investigations"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Investigations</a>
			  <a href="/follow_ups"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Follow Up</a>
			  <a href="/admissions"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Admissions</a>
		    </div>
	      </div>
		</div>
	  </li>

	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<%= link_to edit_category_path(:super_category => 'history', :category => 'chief_complaint'), :remote => true do %>
			<i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">History</span>
		  	<b class="collapse-sign" data-toggle="collapse" href="#history">
		  	<i class="fa fa-fw fa-bars"></i>
		  	</b>
		<%end%>
		  <div id="history" class="panel-collapse collapse">
		  	<div class="panel-body" style="padding:0px">
			  	<%= link_to edit_category_path(:super_category => 'history', :category => 'chief_complaint'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Chief Complaint
			  	<%end%>

			  	<%= link_to edit_category_path(:super_category => 'history', :category => 'pms_history'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Past Medical Surgical
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'history', :category => 'fms_history'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Family Medical Surgical
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'history', :category => 'ps_history'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Personal/Social
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'history', :category => 'other_systems_history'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Other Systems
			  	<%end%>
			  	<a href="/details/history/treatment"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Treatment</a>
		    </div>
	      </div>
		</div>
	  </li>

	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<%= link_to edit_category_path(:super_category => 'examination', :category => 'gpe'), :remote => true do %>
			<i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Examinations</span>
		  	<b class="collapse-sign" data-toggle="collapse" href="#examinations">
		  	<i class="fa fa-fw fa-bars"></i>
		  	</b>
		<%end%>
		  <div id="examinations" class="panel-collapse collapse">
		  	<div class="panel-body" style="padding:0px">
		  		<%= link_to edit_category_path(:super_category => 'examination', :category => 'gpe'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> General Physical Examination
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'examination', :category => 'vitals'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Vitals Examination
			  	<%end%>
		    </div>
	      </div>
		</div>
	  </li>

	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<%= link_to edit_category_path(:super_category => 'investigation', :category => 'hemogram'), :remote => true do %>
			<i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Investigations</span>
		  	<b class="collapse-sign" data-toggle="collapse" href="#investigations">
		  	<i class="fa fa-fw fa-bars"></i>
		  	</b>
		<%end%>
		  <div id="investigations" class="panel-collapse collapse">
		  	<div class="panel-body" style="padding:0px">
		  		<%= link_to edit_category_path(:super_category => 'investigation', :category => 'hemogram'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Hemogram
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'investigation', :category => 'lft'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> LFT
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'investigation', :category => 'rft'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> RFT
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'investigation', :category => 'glucose'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Glucose
			  	<%end%>
			  	<%= link_to edit_category_path(:super_category => 'investigation', :category => 'lipid_profile'), :remote => true do %>
			  		<i class="fa fa-fw fa-arrow-circle-o-right"></i> Lipid Profile
			  	<%end%>
		    </div>
	      </div>
		</div>
	  </li>

	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<a href="/admissions"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Admissions</span>
		</a>
		</div>
	  </li>

	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<a href="/follow_ups"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Follow Up</span>
		</a>
		</div>
	  </li>

	<% if @current_visit %>
	  <li>
	  	<div class="panel-heading" style="padding:0px">
		<a href="/visits/<%= @current_visit.id %>/prescriptions"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Medication</span>
		</a>
		</div>
	  </li>
	<% end %>

	<li>
	  	<div class="panel-heading" style="padding:0px">
		<a href="/discharge_summary"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Discharge Summary</span>
		</a>
		</div>
	  </li>

  </nav>
</aside>


