<!DOCTYPE html>
<html>
<head>
  <title>Emr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header'%>

<% if @show_visit_info %>
<%= render 'layouts/patient_info'%>
<% end %>

<% if @show_left_bar %>
	<%= render 'layouts/left_bar'%>
<% end %>

<% if @leave_space_for_left_bar %>
<div id="main" role="main">
<% end %>

<%= yield %>

<% if @leave_space_for_left_bar %>
</div>
<% end %>


</body>
</html>
