<!DOCTYPE html>
<html>
<head>
  <title>Emr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
</head>
<body>

<% if @show_header %>
<%= render 'layouts/header'%>
<% end %>


<% if @show_left_bar %>
	<%= render 'layouts/left_bar'%>
<% end %>


<% if @leave_space_for_left_bar %>
<div id="main" role="main">
<% end %>

  <% if @show_visit_info %>
  <%= render 'layouts/patient_info'%>
  <% end %>

  <%= render 'layouts/messages' %>
  <div id="page_content">
    <%= yield %>
  </div>
  
<% if @leave_space_for_left_bar %>
</div>
<% end %>


</body>
</html>
